
<div class="i-container">
  <div class="nav">
    <div class="nav-row">
      <div class="col-item">
          <a href=landing>
            <ul>
              <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
            </ul>
          </a>
      </div>
     <div class="col">
      <ul>
          <li><a class="nav-link" href =services>Services</a></li>
          <li><a class="nav-link" href=about>About</a> </li>
          <li><a class="nav-link" href=projects>Projects</a></li>
          <li><a class="nav-link" href=contacts>Contacts</a></li>
          <li><a class="nav-link" href=register><button type="button"
            class="btn btn-default navbar-btn">Register</button></a></li>
          <li><a class="nav-link" href=login><button type="button" class="btn btn-default navbar-btn">Login</button></a></li>
      </ul>
     </div>
    </div>
  </div>

  <div>
    
  </div>
  <br>
  <br>

      <div class="row-sec ">
        <div class="col1">
          <br>
          <img src="/assets/pictures/mentor.jpg" class="mentor" />
          <br>
          <p>The Mentorship system would provide students, and mentors the necessary platform to create and manage appointments. It would as such, provide a comprehensive structure of data storage. This enabling the superuser (facilitator) to:</p><ol><li>Actively track users’ active use of the system.</li><li>Monitor the impact mentorship has had on students’ academic performances.</li><li>Provide a tools and functionalities required to demonstrate and report issues, or pain points that exist within modules.</li></ol><p style="text-align: center;"><a href="http://mentorship.000webhostapp.com/index.php" target="_blank" rel="noopener">Visit Site</a></p>
        </div>

        <div class="col2">
          <br>
          <img src="/assets/pictures/Van-Tuka.png" class="mentor" />
          <br>
          <p>Van tuka lounge was formed in 2013, launched on the 26th of December. The correct spelling of the afrikaans words is &#8220;Van Toeka&#8221;, meaning &#8220;Way Back&#8221;. The lounge was inspired by old skool music, they wanted to target older and mature generation. They used sophisticated designs and high quality furniture and finishes of which it&#8217;s theme is &#8220;Modern meets Vintage&#8221;</p><p style="text-align: center;"><a href="http://vantukalounge.co.za/" target="_blank" rel="noopener">Visit Site</a></p>
        </div>

        <div class="col3">
          <br>
          <img src="/assets/pictures/artphin.png" class="mentor" />
    
          <br>
          <p>Artphin Consulting (Pty) Limited was established in 2012 as a private company with the sole purpose of entering the Short-term Insurance industry-with particular emphasis on the Taxi Industry. At the time of the formal registration of the company, the founder, Nanka Phineas Desando was employed as Head of the Short-term and Medical Aid unit (Inland) for Atfin Consulting, a company with offices in Western Cape.</p><p style="text-align: center;"><a href="http://artphin.co.za/" target="_blank" rel="noopener">Visit Site</a></p>
        </div>
        </div>
        <div class="row-sec ">
        
        <div class="col4">
          <br>
          <img src="/assets/pictures/sphahlo.jpg" class="mentor" />
          <br>
          <p>The Mentorship system would provide students, and mentors the necessary platform to create and manage appointments. It would as such, provide a comprehensive structure of data storage. This enabling the superuser (facilitator) to:</p><ol><li>Actively track users’ active use of the system.</li><li>Monitor the impact mentorship has had on students’ academic performances.</li><li>Provide a tools and functionalities required to demonstrate and report issues, or pain points that exist within modules.</li></ol><p style="text-align: center;"><a href="http://mentorship.000webhostapp.com/index.php" target="_blank" rel="noopener">Visit Site</a></p>
        </div>

        <div class="col5">
          <br>
          <img src="/assets/pictures/Logo1.jpg" class="mentor" />
          <br>
          <p>Van tuka lounge was formed in 2013, launched on the 26th of December. The correct spelling of the afrikaans words is &#8220;Van Toeka&#8221;, meaning &#8220;Way Back&#8221;. The lounge was inspired by old skool music, they wanted to target older and mature generation. They used sophisticated designs and high quality furniture and finishes of which it&#8217;s theme is &#8220;Modern meets Vintage&#8221;</p><p style="text-align: center;"><a href="http://vantukalounge.co.za/" target="_blank" rel="noopener">Visit Site</a></p>
        </div>

        <div class="col6">
          <br>
          <img src="/assets/pictures/khuluma.jpg" class="mentor" />
    
          <br>
          <p>Artphin Consulting (Pty) Limited was established in 2012 as a private company with the sole purpose of entering the Short-term Insurance industry-with particular emphasis on the Taxi Industry. At the time of the formal registration of the company, the founder, Nanka Phineas Desando was employed as Head of the Short-term and Medical Aid unit (Inland) for Atfin Consulting, a company with offices in Western Cape.</p><p style="text-align: center;"><a href="http://artphin.co.za/" target="_blank" rel="noopener">Visit Site</a></p>
        </div>
      </div>
  <div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>

  </div>   
  <footer>
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://icep.co.za"> icep.ac.za</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
      
