<div class="container">
    <div class = "wrapper">
      <div class="nav">
        <div class="nav-row">
          <div class="col-item">
              <a href=landing>
                <ul>
                  <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
                </ul>
              </a>
          </div>
         <div class="col-items2">
          <ul>
              <li><a class="nav-link" href =services>Services</a></li>
              <li><a class="nav-link" href=about>About</a> </li>
              <li><a class="nav-link" href=projects>Projects</a></li>
              <li><a class="nav-link" href=contacts>Contacts</a></li>
              <li><a class="nav-link" href=register><button type="button"
                class="btn btn-default navbar-btn">Register</button></a></li>
              <li><a class="nav-link" href=login><button type="button" class="btn btn-default navbar-btn">Login</button></a></li>
          </ul>
         </div>
        </div>
      </div>
    

    
    </div> 
  </div>
    
  
     
  
       