<!--NAVIGATION BAR-->
<div class="i-container">
  <div class="nav">
    <div class="nav-row">
      <div class="col-item">
          <a href=landing>
            <ul>
              <li><a href=landing><img class="img" src = "/assets/pictures/ICEP-Logo.png" width="100px" height="60px" alt="ICEP Home gage"></a></li>
            </ul>
          </a>
      </div>
     <div class="col-items2">
      <ul>
          <li><a class="nav-link" href=about>About</a> </li>
          <li><a class="nav-link" href =services>Services</a></li>
          <li><a class="nav-link" href=projects>Projects</a></li>
          <li><a class="nav-link" href=contacts>Contacts</a></li>
          <li><a class="nav-link" href=register><button type="button"
            class="btn btn-default navbar-btn">Register</button></a></li>
          <li><a class="nav-link" href=login><button type="button" class="btn btn-default navbar-btn">Login</button></a></li>
      </ul>
     </div>
    </div>
  </div>


  
        
     <!--SECTION FOR WEB-->
          <section class="page-section" id="services">
            <div class="container">
              <h1 class="text-center mt-0">Services</h1>
              <hr class="divider my-4">
              <h2 class="text-center mt-0">Web</h2>
              <hr class="divider my-4">
              <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <!-- <i class="fas fa-4x fa-gem text-primary mb-4"></i> -->
                    <img src="/assets/pictures/internet.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Website/Page Design</h3>
                    <p class=" mb-0">Creative and software engineering/programing skills to design, build and improve websites.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <!-- <i class="fas fa-4x fa-laptop-code text-primary mb-4"></i> -->
                    <img src="/assets/pictures/Dev.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Website Development</h3>
                    <p class=" mb-0">Design and build website for internet,offer technical aspects combined with graphic designing.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/ecomm.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">eCommerce Websites</h3>
                    <p class=" mb-0">Online portals that facilitate online transactions of products through performing online transactions.</p>
                  </div>

                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/rsvp.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Online RSVP Systems</h3>
                    <p class=" mb-0">Design tools to manage events online and allow  guests to RSVP online via emails or online tools.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/content-management.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Content Management System</h3>
                    <p class=" mb-0">Developing software application that can be used to manage the creation and modification of digital content.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/Search engine.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Search Engine Optimisation</h3>
                    <p class=" mb-0">Developing mechanisms for increasing quality and quantity of website traffic by increasing the visibility of a website.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/red.png" width="27%" height="27%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">User Interface (UI) Design</h3>
                    <p class=" mb-0">Provide channel between human and computer interaction graphical controls, which the user can select using a computer or a smart device.</p>
                  </div>
                </div>
              </div>
            </div>
          </section>
          
          <!--Section for MOBILE-->
           <div class=" pages">
           <section class="page-sectionn" id="services">
          <div class="container">
              
              <hr class="divider my-4">
              <h2 class="text-center mt-0">Mobile</h2>
              <hr class="divider my-4">
              <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/MAD.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Mobile App Design</h3>
                    <p class=" mb-0">Includes app designers, iOS designers, Android designers, and more.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/Ad.png" width="30%" height="30%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">App Developmet</h3>
                    <p class=" mb-0">Development of applications for devices, such as smart phones and tablets.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/UserEx.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">User Experience Design</h3>
                    <p class=" mb-0">Design the entire process of acquiring and integrating the product.</p>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                  <div class="mt-5">
                    <img src="/assets/pictures/analysis.png" width="20%" height="20%" alt="wdi" class="image">
                    <h3 class="h4 mb-2">Business Analysis</h3>
                    <p class=" mb-0">Conceptual framework to business analysts so that they can perform and discuss their work.</p>
                  </div>
                </div>
                
              </div>
            </div>
          </section>  
          </div> 
          
      
      
            
        
    <!-- FOOTER-->
        <footer>
          <!-- Copyright -->
          <div class="footer-copyright text-center py-3">© 2020 Copyright:
            <a href="https://icep.co.za"> icep.ac.za</a>
          </div>
          <!-- Copyright -->
        </footer>
  </div>

   